/.vs
/Library
/Logs
/UserSettings
/.vsconfig
/Temp
/Assembly-CSharp.csproj
/Rush.sln
/Assets/StarterAssets
/Assets/PolygonDungeon
/Assets/PolarizedPlatformPack
/Assets/LowPolyDungeonsLite
/Assembly-CSharp-Editor.csproj
